*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lis{
    padding: 12px;
    margin: 2px;
}
.lis:hover{
    color: black;
    background-color: rgb(41, 37, 37);
    border-radius: 30%;
}
body{
    background-color: #DCD7C9;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    min-height: 100vh; 
    grid-auto-rows: auto 1fr auto;
    width: 100%;
}
.navegacion{
    background-color: #A27B5C;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navegacion li{
    display: inline-block;
    text-align: center;
}
.navegacion li a{
    padding: 15px;
    margin: 10px;
    color: #DCD7C9;
    text-decoration: none;
    display: inline-block;
}
.navegacion li a:hover{
    color: #3F4E4F;
    background-color: white;
    border-radius: 30%;
}
footer{
    text-align: center;
    padding: 0;
}
main{
    text-align: center;
}
.parrafo1{
    padding: 20px;
    margin: 70px;
    border: double 3px black;
    border-radius: 15px;
}
.parrafo2{
    padding: 20px;
    margin: 10px;
    border: double 3px black;
    border-radius: 15px;
}
h2{
    padding: 15px;
    margin: 10px;
}
.imgprod{
    width: 350px;
    border: double 2px #A27B5C;
    height: 300px;
    margin: 20px;
    opacity: .8;
}
.mainprod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imgprod:hover{
    opacity: 1;
    border: solid 2px black;
    transform: translate(15px, 20px);
}
.container {  display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.2fr 2.1fr 1.5fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "section section2"
      "section3 section3"
      "footer footer";
  }
  
  .header { grid-area: header; }
  
  .section { grid-area: section; }
  
  .section2 { grid-area: section2; }
  
  .section3 { grid-area: section3; }
  
  .footer { grid-area: footer; }
  
.section2{
    width: 500px;
}
.header1{
    text-align: right;
}
@media only screen and (max-width:576px){
    .section2{
        
    }
}