.container {  display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.2fr 2.1fr 1.5fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "section section2"
      "section3 section3"
      "footer footer";
  }
  
  .header { grid-area: header; }
  
  .section { grid-area: section; }
  
  .section2 { grid-area: section2; }
  
  .section3 { grid-area: section3; }
  
  .footer { grid-area: footer; }
  
  .container2 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 2.6fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "header1 header1"
      "sectionos sectionos"
      "sectionos2 sectionos2"
      "footer1 footer1";
  }
  
  .header1 { grid-area: header1; }
  
  .sectionos { grid-area: sectionos; }
  
  .sectionos2 { grid-area: sectionos2; }
  
  .footer1 { grid-area: footer1; }
